// NOTE: capitalized class names are based on API generated content

.App {
  // negative margin to remove wrapping whitespace
  margin: -0.5rem;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin background-image($url) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75)), url($url);
}

@mixin text-shadow($x, $y, $blur, $color) {
  text-shadow:
    -#{$x} -#{$y} $blur $color,
    $x -#{$y} $blur $color,
    -#{$x} $y $blur $color,
    $x $y $blur $color,
}

// variable background images

.default {
  @include background-image("./images/default.jpg");
}

.Clear-cold {
  @include background-image("./images/sunny-cold.png");
}

.Clear-cool {
  @include background-image("./images/sunny-cool.jpg");
}

.Clear-hot {
  @include background-image("./images/sunny-hot.jpg");
}

.Clear-warm {
  @include background-image("./images/sunny-warm.jpg");
}

.Clouds-cold {
  @include background-image("./images/cloudy-cold.jpg");
}

.Clouds-cool {
  @include background-image("./images/cloudy-cool.jpg");
}

.Clouds-hot {
  @include background-image("./images/cloudy-hot.jpg");
}

.Clouds-warm {
  @include background-image("./images/cloudy-warm.jpg");
}

.Fog-cold, .Fog-cool {
  @include background-image("./images/foggy-cold.jpg");
}

.Fog-warm {
  @include background-image("./images/foggy-warm.jpg");
}

.Haze-cold, .Haze-cool {
  @include background-image("./images/hazy-cool.jpg");
}

.Haze-hot {
  @include background-image("./images/hazy-hot.jpg");
}

.Haze-warm {
  @include background-image("./images/hazy-warm.jpg");
}

.Mist-cold {
  @include background-image("./images/misty-cold.jpg");
}

.Mist-cool {
  @include background-image("./images/misty-cool.jpg");
}

.Mist-warm, .Mist-hot {
  @include background-image("./images/misty-warm.jpg");
}

.Rain-cold, .Drizzle-cold {
  @include background-image("./images/rainy-cold.jpg");
}

.Rain-cool, .Drizzle-cool {
  @include background-image("./images/rainy-cool.jpg");
}

.Rain-warm, .Drizzle-warm {
  @include background-image("./images/rainy-warm.jpg");
}

.Snow-cold, .Snow-cool {
  @include background-image("./images/snowy.jpg");
}

.Thunderstorm-hot {
  @include background-image("./images/thunderstorm-hot.jpg");
}

.Thunderstorm-warm {
  @include background-image("./images/thunderstorm-warm.jpg");
}

// primary CSS

main {
  max-width: 50.25rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  @include text-shadow(0.0625rem, 0.0625rem, 0, white);
}

.search {
  width: 600px;;
  margin-bottom: 2rem;

  .searchbar {
    width: 600px;
    box-sizing: border-box;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

article {
  min-width: 50%;
  max-width: 600px;
  min-height: 20rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0.25rem solid grey;
  border-radius: 2rem;
}

.location-box {
  margin: 0 1rem;
}

.location {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  @include text-shadow(0.03125rem, 0.03125rem, 0, white);
}

.date {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5rem;
  @include text-shadow(0.03125rem, 0.03125rem, 0, white);
}

.weather-box {
  width: 22rem;
  text-align: center;
  margin-bottom: 2rem;
  border: 0.25rem solid black;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.4);

  .weather {
    font-size: 1.25rem;
    text-transform: capitalize;
    margin-bottom: 0;
  }

  .temp {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
