// NOTE: capitalized class names are based on API generated content

.App {
  // negative margin to remove wrapping whitespace
  margin: -0.5rem;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin background-image($url) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75)), url($url);
}

// variable background images

.default {
  @include background-image("./images/default.jpg");
}

.Clear-cold {
  @include background-image("./images/sunny-cold.png");
}

.Clear-cool {
  @include background-image("./images/sunny-cool.jpg");
}

.Clear-hot {
  @include background-image("./images/sunny-hot.jpg");
}

.Clear-warm {
  @include background-image("./images/sunny-warm.jpg");
}

.Clouds-cold {
  @include background-image("./images/cloudy-cold.jpg");
}

.Clouds-cool {
  @include background-image("./images/cloudy-cool.jpg");
}

.Clouds-warm {
  @include background-image("./images/cloudy-warm.jpg");
}

.Fog-cold, .Fog-cool {
  @include background-image("./images/foggy-cold.jpg");
}

.Fog-warm {
  @include background-image("./images/foggy-warm.jpg");
}

.Haze-cold, .Haze-cool {
  @include background-image("./images/hazy-cool.jpg");
}

.Haze-hot {
  @include background-image("./images/hazy-hot.jpg");
}

.Haze-warm {
  @include background-image("./images/hazy-warm.jpg");
}

.Mist-cold, .Mist-cool {
  @include background-image("./images/misty-cool.jpg");
}

.Mist-warm, .Mist-hot {
  @include background-image("./images/misty-warm.jpg");
}

.Rain-cold, .Drizzle-cold {
  @include background-image("./images/rainy-cold.jpg");
}

.Rain-warm, .Drizzle-warm {
  @include background-image("./images/rainy-warm.jpg");
}

.Snow-cold, .Snow-cool {
  @include background-image("./images/snowy.jpg");
}

.Thunderstorm-hot, .Thunderstorm-warm {
  @include background-image("./images/thunderstorm-hot.jpg");
}

// primary CSS

main {
  max-width: 50.25rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  width: 85%;

  .searchbar {
    width: 100%;
    line-height: 2rem;
  }
}

article {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  font-size: 1.5rem;
}

.weather-box {
  width: 20rem;
  text-align: center;
  border: 0.25rem solid black;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.4);

  .weather {
    text-transform: capitalize;
    margin-bottom: 0;
  }

  .temp {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
