// NOTE: capitalized class names are based on API generated content

@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/ubuntu-regular-webfont.woff2") format("woff2"),
       url("./fonts/ubuntu-regular-webfont.woff2") format("woff");
}

* {
  font-family: "Ubuntu", sans-serif;
}

.App {
  // negative margin to remove wrapping whitespace
  margin: -0.5rem;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@mixin background-image($url, $tab, $mob) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75)), url($url);

  @media only screen and (max-width: 48.75rem) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75)), url($tab);
  }
  @media only screen and (max-width: 25.9375rem) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75)), url($mob);
  }
}

@mixin text-shadow($x, $y, $blur, $color) {
  text-shadow:
    -#{$x} -#{$y} $blur $color,
    $x -#{$y} $blur $color,
    -#{$x} $y $blur $color,
    $x $y $blur $color,
}

@mixin clear-weather-change() {
  .weather-box {
    img {
      background-color: unset;
      margin: 0;
    }
  }
}

// variable background images
// NOTE: set tablet as 780 x 1024--anything wider would use desktop
// NOTE: mobile needs 415 x 900 to cover widest & tallest screens
// NOTE: no existing simple way to serve these variable sizes up
//       (srcset is an html setting on an <img> which I'm not using
//       here, and image-set has limited browser support)

.default {
  @include background-image(
    "./images/default.jpg",
    "./images/default-tab.jpg",
    "./images/default-mob.jpg"
  );
  background-position: center;
}

.Clear-cold {
  @include background-image(
    "./images/sunny-cold.png",
    "./images/sunny-cold-tab.png",
    "./images/sunny-cold-mob.png"
  );
  @include clear-weather-change();
}

.Clear-cool {
  @include background-image(
    "./images/sunny-cool.jpg",
    "./images/sunny-cool-tab.jpg",
    "./images/sunny-cool-mob.jpg"
  );
  background-position: top;
  @include clear-weather-change();
}

.Clear-hot {
  @include background-image(
    "./images/sunny-hot.jpg",
    "./images/sunny-hot-tab.jpg",
    "./images/sunny-hot-mob.jpg"
  );
  background-position: top right;
  @include clear-weather-change();
}

.Clear-warm {
  @include background-image(
    "./images/sunny-warm.jpg",
    "./images/sunny-warm-tab.jpg",
    "./images/sunny-warm-mob.jpg"
  );
  background-position: top;
  @include clear-weather-change();
}

.Clouds-cold {
  @include background-image(
    "./images/cloudy-cold.jpg",
    "./images/cloudy-cold-tab.jpg",
    "./images/cloudy-cold-mob.jpg"
  );
}

.Clouds-cool {
  @include background-image(
    "./images/cloudy-cool.jpg",
    "./images/cloudy-cool-tab.jpg",
    "./images/cloudy-cool-mob.jpg"
  );
  background-position: center;
}

.Clouds-hot {
  @include background-image(
    "./images/cloudy-hot.jpg",
    "./images/cloudy-hot-tab.jpg",
    "./images/cloudy-hot-mob.jpg"
  );
}

.Clouds-warm {
  @include background-image(
    "./images/cloudy-warm.jpg",
    "./images/cloudy-warm-tab.jpg",
    "./images/cloudy-warm-mob.jpg"
  );
  background-position: center;
}

.Fog-cold {
  @include background-image(
    "./images/foggy-cold.jpg",
    "./images/foggy-cold-tab.jpg",
    "./images/foggy-cold-mob.jpg"
  );
}

.Fog-cool {
  @include background-image(
    "./images/foggy-cool.jpg",
    "./images/foggy-cool-tab.jpg",
    "./images/foggy-cool-mob.jpg"
  );
}

.Fog-hot {
  // use misty-hot image
  @include background-image(
    "./images/misty-hot.jpg",
    "./images/misty-hot-tab.jpg",
    "./images/misty-hot-mob.jpg"
  );
}

.Fog-warm {
  @include background-image(
    "./images/foggy-warm.jpg",
    "./images/foggy-warm-tab.jpg",
    "./images/foggy-warm-mob.jpg"
  );
}

.Haze-cold, .Haze-cool {
  @include background-image(
    "./images/hazy-cool.jpg",
    "./images/hazy-cool-tab.jpg",
    "./images/hazy-cool-mob.jpg"
  );
}

.Haze-hot {
  @include background-image(
    "./images/hazy-hot.jpg",
    "./images/hazy-hot-tab.jpg",
    "./images/hazy-hot-mob.jpg"
  );
}

.Haze-warm {
  @include background-image(
    "./images/hazy-warm.jpg",
    "./images/hazy-warm-tab.jpg",
    "./images/hazy-warm-mob.jpg"
  );
}

.Mist-cold {
  @include background-image(
    "./images/misty-cold.jpg",
    "./images/misty-cold-tab.jpg",
    "./images/misty-cold-mob.jpg"
  );
}

.Mist-cool {
  @include background-image(
    "./images/misty-cool.jpg",
    "./images/misty-cool-tab.jpg",
    "./images/misty-cool-mob.jpg"
  );
}

.Mist-hot {
  @include background-image(
    "./images/misty-hot.jpg",
    "./images/misty-hot-tab.jpg",
    "./images/misty-hot-mob.jpg"
  );
}

.Mist-warm {
  @include background-image(
    "./images/misty-warm.jpg",
    "./images/misty-warm-tab.jpg",
    "./images/misty-warm-mob.jpg"
  );
}

.Rain-cold, .Drizzle-cold {
  @include background-image(
    "./images/rainy-cold.jpg",
    "./images/rainy-cold-tab.jpg",
    "./images/rainy-cold-mob.jpg"
  );
}

.Rain-cool, .Drizzle-cool {
  @include background-image(
    "./images/rainy-cool.jpg",
    "./images/rainy-cool-tab.jpg",
    "./images/rainy-cool-mob.jpg"
  );
}

.Rain-warm, .Drizzle-warm, .Rain-hot, .Drizzle-hot {
  @include background-image(
    "./images/rainy-warm.jpg",
    "./images/rainy-warm-tab.jpg",
    "./images/rainy-warm-mob.jpg"
  );
  background-position: left center;
}

.Snow-cold {
  @include background-image(
    "./images/snowy-cold.jpg",
    "./images/snowy-cold-tab.jpg",
    "./images/snowy-cold-mob.jpg"
  );
}

.Snow-cool {
  @include background-image(
    "./images/snowy-cool.jpg",
    "./images/snowy-cool-tab.jpg",
    "./images/snowy-cool-mob.jpg"
  );
}

.Thunderstorm-hot {
  @include background-image(
    "./images/thunderstorm-hot.jpg",
    "./images/thunderstorm-hot-tab.jpg",
    "./images/thunderstorm-hot-mob.jpg"
  );
}

.Thunderstorm-warm {
  @include background-image(
    "./images/thunderstorm-warm.jpg",
    "./images/thunderstorm-warm-tab.jpg",
    "./images/thunderstorm-warm-mob.jpg"
  );
}

// primary CSS

main {
  max-width: 50.25rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 4.5rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  color: white;
  @include text-shadow(0.125rem, 0.125rem, 0, black);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.search {
  width: 37.5rem;
  margin-bottom: 2rem;

  .searchbar {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

article {
  max-width: 37.5rem;
  min-height: 20rem;
  margin-top: 0.5rem;
  padding: 0 2rem;
  box-sizing: border-box;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0.25rem solid grey;
  border-radius: 2rem;
}

.location {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  @include text-shadow(0.03125rem, 0.03125rem, 0, black);
}

.date {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5rem;
  @include text-shadow(0.03125rem, 0.03125rem, 0, black);
}

.weather-box {
  width: 22rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
  border: 0.25rem solid black;
  border-radius: 2rem;
  background-color: white;
  color: black;
  opacity: 0.6;

  .weather {
    font-size: 1.25rem;
    text-transform: capitalize;
    margin-bottom: 0;
  }

  .temp {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .wind {
    font-size: 1.25rem;
    margin-top: 0;
  }

  img {
    background-color: cornflowerblue;
    border-radius: 50%;
    margin: 0.5rem 0;
  }
}

footer {
  width: 100vw;
  height: 5.5rem;
  margin: 0;
  border-top: 0.0625rem solid grey;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;

  p {
    max-width: 65.625rem;
    text-align: justify;
    color: white;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 48.75rem) {
  h1 {
    font-size: 2.5rem;
  }

  .search {
    max-width: 31.25rem;
  }

  article {
    // testing with Sri Jayewardenepura Kotte
    max-width: 63%;
    border: 0.125rem solid grey;
  }

  .location {
    font-size: 1.75rem;
  }

  .date {
    font-size: 1.25rem;
  }

  .weather-box {
    width: 15rem;
    margin-bottom: 1.75rem;
    border: 0.125rem solid black;

    .weather {
      font-size: 1.25rem;
      margin: 0;
    }

    .temp {
      font-size: 2rem;
    }
  }

  footer {
    p {
      font-size: 0.9rem;
      // width: 100vw;
      padding: 0 1.25rem;
    }
  }
}

@media only screen and (max-width: 25.9375rem) {
  h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
    @include text-shadow(0.0625rem, 0.0625rem, 0, black);
  }

  .search {
    max-width: 85vw;
    margin-bottom: 1rem;

    .searchbar {
      font-size: 1.125rem;
      line-height: 1.5rem;
      margin: 0 auto;
    }
  }

  article {
    // testing with Sri Jayewardenepura Kotte
    max-width: 85vw;
    min-height: 15rem;
  }

  .location {
    font-size: 1.5rem;
    margin-top: 1.125rem;
  }

  .date {
    font-size: 1.125rem;
  }

  .weather-box {
    margin-bottom: 1.5rem;
    .temp {
      font-size: 1.5rem;
      margin-bottom: 0;
    }

    img {
      width: 3.75rem;
      height: auto;
    }
  }

  footer {
    height: 7rem;

    p {
      font-size: 0.75rem;
    }
  }

  // NOTE: this is for when the keyboard slides out on an Android device -- unsure yet if iOS is affected in the same way
  @media only screen and (max-height: 515px) {
    article {
      min-height: 9rem;
    }

    .location {
      margin-top: 0.75rem;
      padding-bottom: 0.5rem;
    }

    .date {
      display: none;
    }

    .weather-box {
      padding-bottom: 1rem;

      img {
        display: none;
      }
    }

    footer {
      display: none;
    }
  }
}
